<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {
        "status":"success",
        "data":{
            "city":"Dongnae",
            "state":"Busan",
            "country":"South Korea",
            "location":{
                "type":"Point",
                "coordinates":[129.08477,35.20159]
            },
            "current":{
                "pollution":{
                    "ts":"2023-11-08T08:00:00.000Z",
                    "aqius":40,"mainus":"o3",
                    "aqicn":30,"maincn":"o3"
                },
                "weather":{
                    "ts":"2023-11-08T08:00:00.000Z",
                    "tp":16,
                    "pr":1022,
                    "hu":56,
                    "ws":1.98,
                    "wd":67,
                    "ic":"01d"
                }
            }
        }
    }
</body>

</html>