<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {
        "coord":{
            "lon":126.978,
            "lat":37.5665},
            "weather":[{
                "id":800,
                "main":"Clear",
                "description":"clearsky",
                "icon":"01n"
            }],
            "base":"stations",
            "main":{
                "temp":273.32,
                "feels_like":270.82,
                "temp_min":272.81,
                "temp_max":275.84,
                "pressure":1029,
                "humidity":72
            },
            "visibility":10000,
            "wind":{
                "speed":2.06,
                "deg":280
            },
            "clouds":{"all":0},
            "dt":1699883555,
            "sys":{
                "type":1,
                "id":8105,
                "country":"KR",
                "sunrise":1699826936,
                "sunset":1699863825
            },
            "timezone":32400,
            "id":1835848,
            "name":"Seoul",
            "cod":200
        }
</body>

</html>